<accordion [closeOthers]="true" style="width:100%;">
  <accordion-group #groupval [isOpen]="">
    <button accordion-heading >
      Исходный текст
    </button>
    <div class="form-group">
      <label for="inputText">Исходный текст</label>
      <textarea class="form-control" id="inputText" rows="3" [(ngModel)]="rawText"></textarea>
    </div>
  </accordion-group>
</accordion>

<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="shouldBeMixed" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Перемешанный
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="shouldBeInverted" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
    Отражённый
  </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="shouldRotating" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
      Вращающийся
    </label>
</div>

<app-spinned-text *ngIf="shouldRotating" [text]="updatedText" [needBeInverted]="shouldBeInverted"></app-spinned-text>

<div *ngIf="!shouldRotating && !shouldBeInverted" >{{updatedText}}</div>


<app-inverted-text *ngIf="!shouldRotating && shouldBeInverted" [value]="updatedText"></app-inverted-text>
